.container {
    position: relative;
    top: 200px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-content: center;
}

li {
    padding: 5px 20px;
}

.text {
    padding: 20px;
}

.navbar-brand {
    padding-left: 20px;;
}